.logoo{

   background-color: black;
   border: 1px solid rgba(0,0,0,0.15); 

   .logoo-logo{
      height: 100%;
      width: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
   }
}