.history-page{

   display: flex;
   flex-direction: column;

   .history-page-header{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .history-page-btn{
         position: relative;
         right: 34%;
         bottom: 1rem;
      }
   }

   .history-page-list{
      .list-group{
         .list-group-item{
            margin-bottom: 0.15rem;
            min-height: 4rem;
            &:hover{
               color: darkslategray;
               box-shadow: 2px 2px brown;
               border-color: red;
            }

            .list-group-item-details{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
            }
         }
      }
   }
}