.opponent{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   border: 1px solid rgba(0,0,0,0.15);
   background-color: black;

   .custom-button{
      width: 31%;
      align-self: center;
   }
}