.time-score-pos{
   border: 1px solid rgba(0,0,0,0.15);
   background-color: rgb(255, 216, 174);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   .possession{
      padding-left: 5rem;
      min-width: 20rem;
   }

   .time{
      // position: relative;
   }

   .score{
      padding-right: 5rem;
   }
}